body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #FDF6EC, #DDEECC);
    color: #444;
    height: 100vh;
}

.title {
    font-size: 2rem;
    margin: 1em auto;
    color: #7DA87B;
    text-align: center;
    width: 100%;
}

.game {
    display: flex;
    margin: 2em;
    gap: 2em;
}

.map {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(5, 90px);
    position: relative;
}

.information {
    background-color: #777777;
    color: white;
    padding: 1em;
    width: 30em;
}

.tile {
    width: 90px;
    height: 90px;
    background-size: cover;
}

.forest {
    background-color: greenyellow;
}

.lake {
    background-color: #8EBCF4;
}

.empty {
    background-color: #eee;
}

.tree {
    background-color: saddlebrown;
}

.house {
    background-image: url("/images/img.png");
    background-color: greenyellow;
}

.player {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: red;
    z-index: 10;
    transition: top 0.1s ease, left 0.1s ease;
}
