body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #FDF6EC, #DDEECC);
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 2em;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    max-width: 40vw;
    width: 100%;
    box-sizing: border-box;
}

.title {
    margin-bottom: 0.2em;
    color: #7DA87B;
    font-size: clamp(1.8rem, 5vw, 2.5rem);

}

.subtitle {
    margin-bottom: 2em;
    color: #777;
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    background-color: #A0C4FF;
    border: none;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    padding: 0.75em 1.5em;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

.btn:hover {
    background-color: #8EBCF4;
    transform: scale(1.05);
}

footer {
    margin-top: 3em;
    font-size: 0.8rem;
    color: #aaa;
}
@media (max-width: 500px) {
    .container {
        border-radius: 8px;
        padding: 1.5em;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }
}
@media (min-width: 2000px){
    .container {
        max-width: 25vw;
    }
}
@media (min-width: 3000px){
    .container {
        max-width: 18vw;
    }
}
@media(max-width: 390px){
    .container{
        padding: 1em;
    }
}


