body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom, #FDF6EC, #DDEECC);
    color: #444;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 60% 40%;
    height: 100vh;
}

.title {
    font-size: 2.5rem;
    margin: 1em auto;
    color: #7DA87B;
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    width: 100%;
}

.map {
    width: 95%;
    height: 90%;
    background-color: white;
    grid-column: 1;
    grid-row: 2;
    margin-left: 2em;
}

.information {
    width: 90%;
    height: 90%;
    background-color: #777777;
    grid-column: 2;
    grid-row: 2;
    margin-left: 1em;
}
